<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
  "-//Hibernate/Hibernate Configuration DTD//EN"
  "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
  <session-factory>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/PDF</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">somepassword</property>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQL8Dialect</property>
    <property name="show_sql">true</property>
    <mapping class="com.artemvoronov.entity.BookMark"/>
    <mapping class="com.artemvoronov.entity.Book"/>
  </session-factory>
</hibernate-configuration>
